*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "tailwindcss";

:root {
  font-family: var(--font-poppins), sans-serif;

  --white: #ffffff;
  --foreground: #171717;
  --black: #24252f;
  --charcoal: #343741;
  --gunpowder: #344054;
  --gray: #5e626f;
  --border: #f2f4f7;
  --border2: #c1c5cf;
  --chalk: #e8ecff;
  --lightgray: #fbfbfb;
  --porcelain: #eff1f6;
  --nephritis: #e9f7ef;
  --topaz: #00c696;
  --turquoise: #26c2b9;
  --aqua: #40e2e8;
  --skyblue: #8bc4ff;
  --dodgerblue: #288be7;
  --blueberry: #4a77ff;
  --yellow: #fbff23;
}

@theme inline {
  /* Breakpoints */
  --breakpoint-xs: 499px;
  --breakpoint-desktop: 1025px;

  /* Colors */
  --color-white: var(--white);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--charcoal);
  --color-subtext: var(--gray);
  --color-black: var(--black);
  --color-charcoal: var(--charcoal);
  --color-gunpowder: var(--gunpowder);
  --color-gray: var(--gray);
  --color-border: var(--border);
  --color-border2: var(--border2);
  --color-chalk: var(--chalk);
  --color-lightgray: var(--lightgray);
  --color-porcelain: var(--porcelain);
  --color-nephritis: var(--nephritis);
  --color-topaz: var(--topaz);
  --color-turquoise: var(--turquoise);
  --color-aqua: var(--aqua);
  --color-skyblue: var(--skyblue);
  --color-dodgerblue: var(--dodgerblue);
  --color-blueberry: var(--blueberry);
  --color-yellow: var(--yellow);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins), sans-serif;

  /* animation */
  --animate-rotate: rotate 0.2s ease forwards;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  --animate-fadein: fadein 0.5s ease-in forwards;

  @keyframes fadein {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  --animate-fadeinup: fadeinup 0.5s ease-in-out forwards;

  @keyframes fadeinup {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

@utility animation-delay-500 {
  animation-delay: 0.5s;
}

@layer base {
  h1 {
    @apply text-[2.25rem] leading-[130%] tracking-normal font-[900] text-white desktop:text-[3rem];
  }
  h2 {
    @apply text-[1.125rem] tracking-normal font-[900] text-white desktop:text-[1.5rem] leading-[34px];
  }
  h3 {
    @apply text-[1rem] leading-[150%] tracking-normal font-[900] text-white desktop:text-[1.125rem];
  }
  h4 {
    @apply text-[0.75rem] leading-[150%] tracking-normal font-[900] text-white;
  }
  p,
  label {
    @apply text-[1rem] leading-[150%] tracking-normal font-[900] text-white;
  }
}

@layer utilities {
  .bg-gradient {
    background-image: linear-gradient(
      160deg,
      var(--color-turquoise),
      var(--color-dodgerblue)
    );
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.slick-slide {
  width: 332px;
}
